<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcI8LNSE9J5O8ka6p--gdWRJXwhiixd9M</string>
	<key>GCM_SENDER_ID</key>
	<string>498186041878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aydinkaya.SnapScene</string>
	<key>PROJECT_ID</key>
	<string>snapscene-88bc7</string>
	<key>STORAGE_BUCKET</key>
	<string>snapscene-88bc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498186041878:ios:567945ce36987a5b645337</string>
</dict>
</plist>